{% extends 'base.html' %} 

{% block body %}
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ url_for('index') }}">Library</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
			{% if g.user.is_authenticated() %}
            <li><a href="{{ url_for('author_add') }}">Add Author</a></li>
            <li><a href="{{ url_for('book_add') }}">Add Book</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">LogOut</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Registration</a></li>
            {% endif %}
        </ul>
        <ul class="left">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('books') }}">Books</a></li>
            <li><a href="{{ url_for('authors') }}">Authors</a></li>
            <li class="divider"></li>

            <li class="has-form">
                <form class="row collapse" action="{{ url_for('search_result') }}">
                    <div class="small-9 columns">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}</div>
                    <div class="small-3 columns"><button class="alert button expand">Search</button></div>
                </form>
            </li>

        </ul>
    </section>
</nav>

	{% with messages=get_flashed_messages(with_categories=True) %}
		{% if messages %}
		<br>
	<section class="row">
	    {% for category, message in messages %}
	    <div data-alert class="alert-box {{ category }} radius">
	        {{ message }}
	        <a href="#" class="close">&times;</a>
	    </div>
	    {% endfor %} 
	</section>
		{% endif %}
	{% endwith %}
	
	{% block content %} MAIN CONTENT {% endblock %} 
{% endblock %}
